.home{
    height: 100%;
    background-image: url('../../../public/Assets/images/laptop-near-smartphone-tags-tablet-packet.jpg');
    background-size: cover;
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: overlay;
    color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.home h2{
    font-size: 3.5rem;
}

.home h4{
    font-size: 2rem;
}

.home p{
    font-size: 1.1rem;
    text-align: center;
    width: 70%;
}

.home .btns{
    display: flex;
    align-items: center;
    gap: 20px;
}

.home button{
    border-radius: 20px;
    padding: 12px 20px;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;

    a{
        color: #fff;
    }
}


.home .contact-btn{
    background-color: rgb(0, 81, 255);
    color: #fff;    
    
}

.home .about-btn{
    background-color: rgb(0, 81, 255);
    color: #fff;
}

.home .reg-btn{
    background-color: orangered;
    color: #fff;
}